<div class="container">
	<div class="row">
		<div class="col-md-12 col-lg-8"><ol class="breadcrumb">
  <li><a href="__APP__/Admin/Index">管理首页</a></li>
  <li class="active">主题管理</li>
</ol>
<div class="main">
    <if condition="$themes">
	<table class="table">
	<tr>
		<th>预览</th>
		<th>操作</th>
	</tr>
    <foreach name="themes" item="theme">
        <tr>
					<td><img src="/Application/Home/View/{$theme.package}/screenshot.png" class="screenshot"/></td>
            <td>名称：{$theme.name}({$theme.version})<br/>
            作者：<a href="{$theme.link}">{$theme.author}</a><br/>
            描述：{$theme.description}<br/>
                <a class="btn btn-default" href="__APP__/Admin/Theme/set/{$theme.package}">启用</a>
                <a id="uninstall" class="btn btn-default" data-package="{$theme.package}">卸载</a></td>
        </tr>
    </foreach>
    </table>
    <else />
    <h3>你可以到官网下载插件安装</h3>
    </if>
</div>
		</div>
	</div>
</div>
<script>
    $("#uninstall").on("click",function(){
        var Theme=$(this).data("package");
        var div=$('<div class="modal-dialog"></div>');
        div.append(
            $('<div class="modal-content"></div>')
            .append('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title">提示</h4></div>')
            .append('<div class="modal-body"><p>你确定卸载这个插件:'+Theme+'</p></div>')
            .append('<div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">取消</button><a class="btn btn-primary" href="__APP__/Admin/Theme/uninstall/'+Theme+'">删除</a></div>')
        );
        $("#blogModal").html(div);
        $("#blogModal").modal('show')
    })
</script>
