<include file="layout:header" />
<nav class="navbar navbar-inverse noMargin noRadius">
  <div class="container">
      <h3>TBlog beta v0.1
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-0"> 
         <span class="sr-only">切换导航</span> 
         <span class="icon-bar"></span> 
         <span class="icon-bar"></span> 
         <span class="icon-bar"></span> 
        </button></h3>
    </div>
</nav>
<div class="sidebar-nav collapse navbar-collapse" id="navbar-collapse-0">
    <include file="layout:sidebar" />
</div>
<div class="content">
    
<div class="content-main">
	<div class="row">
        {// 主题部分}
		<div class="col-md-8 col-sm-12">
		    {__CONTENT__}
		</div>
	</div>
</div>
</div>
<include file="layout:footer" />