<include file="layout:header" />
<div class="topBar">
      TBlog beta v0.1
      <a class="welcome">欢迎您:{:my("name")}</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-0"> 
         <span class="sr-only">切换导航</span> 
         <span class="icon-bar"></span> 
         <span class="icon-bar"></span> 
         <span class="icon-bar"></span> 
        </button>
</div>
<div class="sidebar-nav collapse navbar-collapse" id="navbar-collapse-0">
    <include file="layout:sidebar" />
</div>
<div class="content">
			    {__CONTENT__}
</div>
<include file="layout:footer" />