body{
    background: #F6F6F3;
}
footer{
    padding:35px;
    text-align:center;
}
.noPadding{
    padding:0 !important;
}
.noMargin{
    margin:0 !important;
}
.noRadius{
    border-radius:0;
}
.topBar{
    position: relative;
    background:#222;
    border-bottom: 4px solid #336699;
    color:#EEE;
    min-height:52px;
}
.topBar .navbar-toggle{
    border-color: #333;
}
.topBar .navbar-toggle .icon-bar {
    background-color: #fff;
}
.welcome{
    display:block;
    float:right;
    font-size:1.5em;
    color:#EEE;
    padding-right:30px;
}
.sidebar-nav {
  width: 240px;
  position: fixed;
  float: left;
  border-top: none;
  margin: 0em;
  padding:0;
  background:#333;
  min-height:100%;
}
.menu>li>a{
    color: #ffffff;
    text-shadow: none !important;
}
.menu{
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.menu-list {
    padding:0;
}
.menu-list a{
    display:block;
    padding:10px 25px 10px 45px;
    color:#EEE;
}
.menu-list a:hover{
    background:#2E2E2E;
    text-decoration:none;
}
.menu>li{
    margin:0;
    padding:0;
}
.menu-header {
    display:block;
    font-weight: normal;
    font-size: 1em;
    line-height: 2.5em;
    padding: .25em .25em .25em 1em;
    background: #222;
}
.menu-active{

}
.menu-active:before{
    content: "";
    float:right;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-right-color: #ffffff;
}
.content {
  position: relative;
  background: #fff;
  margin-left: 240px;
  border-left: 1px solid #cccccc;
  padding:25px;
}
@media (max-width: 767px) {
    .sidebar-nav{
        position:static;
        float:none;
        width:auto;;
    }
    .content{
        position:static;
        min-height:0;
        margin:0;
    }
}


.grid-item { width: 400px; }
.grid-item--width2 { width: 400px; }




.screenshot{
  max-width: 100%;
}

.main{
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #ccc;
	padding:25px;

}
.post-slug{
	border-bottom: 1px solid #ccc;
	margin-bottom:5px;
}
.post-slug input{
    background:#EEE;
    height:100%;
    border-width:0 0 1px 0;
}
.pageIndex{
    list-style-type:none;
    padding:0;
}
.pageIndex li{
    display:block;
	border-bottom: 1px solid #ccc;
	margin-left:5px;
	cursor:move;
}
.pageIndex a{
    display:inline-block;
    height:100%;
    padding:10px;
}
.pageIndex a:hover{
    background:#EEE;
}

.setting{
	margin-bottom:15px;
	padding:15px;

}

.login{
    margin-top:50%;
}
.do{
    visibility:hidden;
}
.comments-td:hover .do{
    visibility:visible;
}

.photoBox{
  margin-top: 60px;
  display: none;
}
.photoBox>div{
  width: 120px;
  height: 150px;
  margin: 20px;
  box-shadow: 0 0 5px #ccc;
  cursor:pointer;
}
.photoBox img{
  max-width: 100%;
  max-height: 100%;
}
.photoTopBar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 3px 5px #888888;
  padding-left: 25px
}
.photoTopBar .name{
  display: inline-block;
  padding: 10px;
  font-size: 24px;
}
@media (max-width: 767px) {
  .photoTopBar{
    position:relative;
    margin: -25px;
    margin-bottom: 0;
  }
  .photoBox{
    margin-top: 0px;
  }
}

.photoPanel{
  padding: 5px;
}
#msg{
  margin-top: 60px;
}
#itIsNothing{
  background-image: url('nothing.png');
  background-repeat: no-repeat;
  background-position:center 20%;
  padding: 200px;
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: #999;
  box-shadow: none;
}
#albumBox{
  display: flex;
  flex-flow: row wrap;
}
#loading{
width: 100%;
text-align: center;
font-size: 2em;
color: #999;

}
