body{
    background: #F6F6F3;
}
.main{
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #ccc;
	padding:25px;
    
}
.post-slug{
	border-bottom: 1px solid #ccc;
	margin-bottom:5px;
}
.post-slug input{
    background:#EEE;
    height:100%;
    border-width:0 0 1px 0;
}
.pageIndex{
    list-style-type:none;
    padding:0px;
}
.pageIndex li{
    display:block;
	border-bottom: 1px solid #ccc;
	margin-left:5px;
	cursor:move;
}
.pageIndex a{
    display:inline-block;
    height:100%;
    padding:10px;
}
.pageIndex a:hover{
    background:#EEE;
}

.setting{
	margin-bottom:15px;
	padding:15px;
    
}

.login{
    margin-top:50%;
    background:#FFF;
	box-shadow: 0 0 5px #ccc;
	padding:5px 25px 25px 25px;
}
.login button{
    width:100%;
    
}
.login h3{
    text-align:center;
}