<ol class="breadcrumb">
  <li><a href="__APP__/Admin/Index">管理首页</a></li>
  <li class="active">网站设置</li>
</ol>
<div class="main">
	<form action="__APP__/Admin/Index/setting" method="post">
	  <div class="form-group">
    <label for="">网站名称：</label>
    <input type="text" class="form-control" name="blogTitle" value="{:C("blogTitle")}" placeholder="">
  </div>  
  <div class="form-group">
    <label for="">关键词</label>
    <input type="text" class="form-control" name="blogKeyWorld" value="{:C("blogKeyWorld")}" placeholder="">
  </div>
  <div class="form-group">
    <label for="">网站描述</label>
    <input type="text" class="form-control" name="blogDescription" value="{:C("blogDescription")}" placeholder="">
  </div>  
  <div class="form-group">
    <label for="">logo地址</label>
    <input type="text" class="form-control" name="blogLogo" value="{:C("blogLogo")}" placeholder="">
  </div>  
	
	<button type="submit" class="btn btn-primary" id="postDel">保存</button>
	</form>
</div>