<include file="Index/header" />
<div class="container">
    <div class="row">
        {// 主题部分}
        <div class="col-md-8">
            <if condition="$rs">
                <h4>分类{$category["name"]}下的文章</h4>
            <ul class="l">
                <foreach name="rs" item="value">
                    <li>
                        <h3><a href="__APP__/Home/Index/post/{$value.slug}">{$value.title}</a></h3>
                        {$value.content|strip_tags|mb_substr=###,0,200,"UTF8"}
                        <div style="clear:both"></div>
                        <time>{$value.time|date="Y-m-d",###}</time>
                        
                    </li>
                    
                </foreach>
            </ul>
            <nav>{$pagination}</nav>
            <else />
                <h3>没有文章</h3>
            </if>
        </div>
        {// 侧栏 }
        
        <div class="col-md-4"  id="navbar-example">
            <include file="Index/sidebar" />
        </div>
    </div>
</div>
      
<include file="Index/footer" />