
                <form action="__APP__/Home/Index/respond/{$post.PID}" method="post">
            <div class="comment-main">     
            <if condition="$comments">
                <ul class="comments">
                <foreach name="comments" item="c">
                    <li>
                        <div class="comment-meta"><img class="gravatar" src="{$c.gravatar}" /><h4 style="display:inline-block;"><if condition="$c['url']">
                            <a href="{$c.url}"><span class="label label-info">{$c.name}</span></a>
                        <else />
                            <span class="label label-info">{$c.name}</span>
                            
                        </if></h4><time>{$c.time|date="Y-m-d",###}</time><br/></div>
                        <div class="comment-content">{$c.content}</div>
                    
                    </li>
                </foreach>
                </ul>
            </if>
         <div class="Input_Box">
           <div class="Input_Head"> 
           <div>名字：<input type="text" name="name" placeholder="" value="{$Think.cookie.menberName}"/></div>
           <div>邮箱：<input type="text" name="email" placeholder="email:123@qq.com"value="{$Think.cookie.menberEmail}"/></div>
           <div>主页：<input type="text" name="url" placeholder="http://" value="{$Think.cookie.menberURL}"/></div>
           </div>
           <textarea class="Input_text" name="content" ></textarea>
           <div class="Input_Foot"> 
            <button type="submit" class="postBtn">提交</button>
           </div>     
         </div>   
            
        </div>
        </form>