<include file="Index/header" />
<div class="container">
    <div class="row">
        {// 主题部分}
        <div class="col-md-8">
            <article class="page">
                <h3>
                        {$page.title}                    
                </h3>
                <div class="post-content">
                        {$page.content}                                        
                </div>

            </article>
            <include file="Index/comment" />
            
        </div>
        {// 侧栏 }
        <div class="col-md-4">
            <include file="Index/sidebar" />
        </div>
    </div>
</div>
      
<include file="Index/footer" />