<include file="Index/header" />
<div class="container">
    <div class="row">
        {// 主题部分}
        <div class="col-md-8">
            <if condition="$rs">
            <ul class="l">
                <foreach name="rs" item="post">
                    <li>
                        <h3><a href="__APP__/Home/Index/post/{$post.slug}">{$post.title}</a></h3>
                        {$post.content|strip_tags|mb_substr=###,0,200,"UTF8"}
                        <div class="meta"> <foreach name="post.categorys" item="category">
		        <a href="__APP__/Home/Index/category/{$category.slug}">{$category.name}</a>,
		    </foreach>{$post.date}<if condition="$post['commentTotal'] gt 0">,<a href="__APP__/Home/Index/post/{$post.slug}#comment">{$post.commentTotal}评论</a>
		        
		    </if></div>
                        
                    </li>
                    
                </foreach>
            </ul>
            <nav>{$pagination}</nav>
            <else />
                <h3>没有文章</h3>
            </if>
        </div>
        {// 侧栏 }
        
        <div class="col-md-4  hidden-xs hidden-sm"  id="navbar-example">
            <include file="Index/sidebar" />
        </div>
    </div>
</div>
      
<include file="Index/footer" />