<include file="Index/header" />
<div class="container">
    <div class="row">
        {// 主题部分}
        <div class="col-md-8">
            <article class="post">
                <h3>
                        {$post.title}                    
                </h3>
                <div class="post-meta">
                    <if condition="$post['category']">
                            <a href="__APP__/Home/Index/category/{$post.category.slug}">{$post.category.name}</a>
                    </if>日期：{$post.date}，<a href="{$author.url}">{$author.name}</a>
                </div>
                <div class="post-content">
                        {$post.content}                                        
                </div>

            </article>
            <include file="Index/comment" />
            
        </div>
        {// 侧栏 }
        <div class="col-md-4">
            <include file="Index/sidebar" />
        </div>
    </div>
</div>
      
<include file="Index/footer" />