<include file="Index/header" />
<div class="container">
    <div class="row">
        {// 主题部分}
        <div class="col-md-8">
            <if condition="$rs">
                <h4>包含“{$key}”的文章</h4>
            <ul class="l">
                <foreach name="rs" item="post">
                    <li>
                        <h3><a href="__APP__/Home/Index/post/{$post.slug}">{$post.title}</a></h3>
                        {$post.content|strip_tags|mb_substr=###,0,200,"UTF8"}
                        <div style="clear:both"></div>
                        <time>{$post.date}</time>
                        
                    </li>
                    
                </foreach>
            </ul>
            <nav>{$pagination}</nav>
            <else />
                <h4>未找到包含{$key}的文章</h4>
            </if>
        </div>
        {// 侧栏 }
        
        <div class="col-md-4 hidden-xs hidden-sm"  id="navbar-example">
            <include file="Index/sidebar" />
        </div>
    </div>
</div>
      
<include file="Index/footer" />