<div class="container">
	<div class="row">
		<div class="col-md-12 col-lg-8"><ol class="breadcrumb">
  <li><a href="__APP__/Admin/Index">管理首页</a></li>
  <li class="active">页面管理</li>
  <li><a href="__APP__/Admin/Post/pageEdit">创建一个独立页面</a></li>
</ol>
<div class="main">
    <if condition="$rs">
    <ul class="pageIndex sortable" id="pageIndex">
	<foreach name="rs" item="p">
	    <li data-pid="{$p.PID}"><a href="__APP__/Admin/Post/pageEdit/{$p.PID}">{$p.title}</a></li>
	</foreach>
	</ul>
	<form action="__APP__/Admin/Post/pageSort" method="post">
	<input type="hidden" name="sortData" id="sortData" value=""/>
	<button type="submit" class="btn btn-primary  pull-right" id="save">保存排序</button>
	</form>
		<div style="clear:both"></div>
	<else />
	    <h3>一个都没有。。。可以新建的。</h3>
	</if>
</div>
		</div>
	</div>
</div>
    <script>
    $('.sortable').sortable();
    $("#save").on("click",function(){
        var arr=new Array();
        var i=0,id;
        $("#pageIndex li").each(function(){
            id=$(this).data("pid");
            console.log(id);
            arr[i]=id;
            i++;
        });
        $("#sortData").val(JSON.stringify(arr));
        return true;
    });
    </script>
