<ol class="breadcrumb">
  <li><a href="__APP__/Admin/Index">管理首页</a></li>
  <if condition="$post">
      <li><a href="__APP__/Admin/Comment">评论管理</a></li>
        <li class="active">{$post.title}</li>
    <else />
          <li class="active">评论管理</li>
  </if>

</ol>
<div class="main">
        
<if condition="$comments">
	<form action="__APP__/Admin/Comment/delete" method="post">
	<table class="table">
	<tr>
		<th></th>
		<th>作者</th>
		<th>内容</th>
	</tr>
	<foreach name="comments" item="value">
	<tr>
		<td>
			<input type="checkbox" class="" name="arr[]" value="{$value.CID}">
		</td>
		<td>
		    {$value.name}<br>
		    
		</td>
		<td class="comments-td">
			于{$value.date}在<a href="__APP__/Admin/Comment/index/{$value.PID}">{$value.postTitle}</a><br/>评论：<p id="C_{$value.CID}">{$value.content}</p>
			<div class="do"><a class="deleteComment" data-id="{$value.CID}" data-src="__APP__/Admin/Comment/delete/{$value.CID}">删除</a></div>
		</td>
	</tr>
	</foreach>
	</table>
	
	<button type="submit" class="btn btn-primary" id="commentDel" style="display:none;">删除选中</button>
	</form>
<div>
	<a class="btn btn-default" href="#" id="delButton"  data-toggle="modal" data-target="#exampleModal" role="button">删除选中</a>
	{$pagination}
	</div>
	<else />
	    <h3>目前还没有任何评论</h3>
	</if>
</div>
<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
  console.log("Start")
  var modal = $(this)
  modal.find('.modal-body p').text("你确定删除选中项吗？");
  modal.find("#deleteBottom").on("click",function(){
      $("#commentDel").trigger("click");
      return false;
  });
})

    $(".deleteComment").on("click",function(){
        var id=$(this).data("id");
        var content=$("#C_"+id).html();
        var div=$('<div class="modal-dialog"></div>');
        div.append(
            $('<div class="modal-content"></div>')
            .append('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title">你确定删除评论</h4></div>')
            .append('<div class="modal-body"><p>'+content+'</p></div>')
            .append('<div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">取消</button><a class="btn btn-primary" href="__APP__/Admin/Comment/delete/'+id+'">删除</a></div>')
        );
        $("#blogModal").html(div);
        $("#blogModal").modal('show')
    })

</script>